@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
@import "./normalize.scss";


$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$box-color: #f5f5f5;
$wight: #ffffff;
$black: #000000;
$font-text: 'roboto', sans-serif;

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


* {
    box-sizing: border-box;
}

h1 {
    margin: 0px;
}
p{
    margin: 0px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: $wight;
    .header__box{
        justify-content: flex-start;
        max-width: 1440px;
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
    }
    .header__img{
        width: 82%;
        height: 65px;
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
        .header__logo{
            width: 160px;
            height: 23px;
    }
    .header__redirection{
        width: 18%;
        max-width: 60px;
        height: 65px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
            .redirection__btn{
                color:black;    
            }
    }
  
}

.container{
    width: 100%;
    max-width: 1440px;
    height: auto;
    min-width: 375px;
    .container__map{
        width: 100%;
        max-width: 1440px;
        height: 45px;
        background-color: #EBEBEB;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
            .map__location--setting{
                font-family: $font-text;
                font-size: 14px;
                margin-right: 15px;
                margin-left: 15px;
                border: none;
                background-color:  #EBEBEB;
                height: 35px;
                width: 58%;   
            }
            .map--setting{
                color: grey;
                height: 45px;
                padding-top: 12px;
            } 
                 
    }
    .map--box{
        box-shadow: inset 0px 2px 4px 0px #b6b6b6;
        width: 100%;

    }
    
    .container__info{
        width: 100%;
        max-width: 1440px;
        height: auto;
        background-color: $box-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-text;
        padding: 45px;

        .info__description{
            font-size: 16px;
            display: flex; 
            flex-direction: row; 
            justify-content: center; 
            text-align: center;
            .description--setting{
                margin-top: 23px;
                display: flex; 
            }
            .info--setting{
                font-size: 24px;
                width: auto;
            }
        }

        .info__btn{
            width: 220px;
            height: 50px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: $wight;
            -webkit-box-shadow: 2px 5px 16px 0px #b6b6b6, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 2px 5px 16px 0px #b6b6b6, 5px 5px 15px 5px rgba(0,0,0,0);
            background: linear-gradient(to bottom right,#FF79DA, #9356DC) ;
            margin-top: 30px;
            margin-bottom: 5px;
        
        }
    }
    
    .container__operations{
        width: 100%;
        max-width: 1440px;
        height: auto;
        background: $wight;
        display: flex;
        flex-direction: column;
        font-family: $font-text;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
        .info--setting{
            font-size: 24px;
            margin-bottom: 30px;
            margin-left: 20px;
        }
        .operation__stages{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
           
        
            .operation__stage{
                min-width: 330px;
                width: 100%;
                height: 78px;
                background-color: $box-color;
                border-radius: 25px;
                margin-bottom: 25px;
                margin-left: 20px;
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow: visible;
                box-shadow: 0px 2px  10px 0px #d1d1d1;
                
            .stage__order{
                  
                       .order__text{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        border-radius: 25px;
                        background-color: $primary-color;
                        font-family: $font-text;
                        color: $wight;
                        overflow: visible;
                        margin-left: -10px;
                    }
                }
                .stage__icon{
                    padding-left: 25px;
                    padding-right: 30px;
                }
                .stage__text{
                    width: 180px;
                }   
            }
        }
    }
    
    .container__catalog{
        width: 100%;
        max-width: 1440px;
        height: auto;
        background-color: $box-color;
        display: flex;
        flex-direction: column;
        font-family: $font-text;
        padding-bottom: 50px;
       
        .info--setting{
            font-size: 24px;
            margin-bottom: 5px;
            margin-left: 20px;
            font-weight: bold;
            margin-top: 50px;
        }
        .card__container{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
        
            .card{
            display: flex;
            flex-direction: column;
            min-width: 334px;
            height: 250px;
            width: 100%;
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 20px;
            border-radius: 25px;
            box-shadow: 0px 2px  10px 0px #d1d1d1;
            position: relative;
            text-decoration: none;
            color: $black;
                .tag{
                    width: 80px;
                    height: 30px;
                    background-color: $tertiary-color;
                    right: 20px;
                    position: absolute;
                    margin-top: 19px;
                    color: olivedrab;
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }
               
                .card__img{
                    min-width: 100%;
                    height: 70%;
                    overflow: hidden;
                    border-radius: 25px 25px 0px 0px;
                    img{
                        object-fit: cover;
                        width: 100%;
                        object-position: 0px -50px;
                        &.img--setting{
                            object-position: 0px -150px;
                        }
                    }
                }
                .card__description{
                    height: 30%;
                    display: flex;
                    flex-direction: row;
                    .description__text{
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        .text--margin{
                            margin-bottom: 5px;
                            margin-left: 20px;
                        }
                        .title--margin{
                           margin-top: 12px; 
                        }
                    }
                    .description__preference{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 195px;
    background-color: $black;
    color: $wight;
   .footer__container{
        max-width: 1440px;
        width: 100%;
        .footer__logo{
         margin-top: 20px;
         margin-left: 22px;
         margin-bottom: 22px;
         font-family: 'Shrikhand', cursive;
         font-size: 14px;
        }
        .footer__items{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: $wight;
            display: flex;
            flex-direction: column;
            
         
            .footer__item{
                display: flex;
                flex-direction: row;
                margin-left: 22px;
                margin-bottom: 12px;
                .footer__icon{
                    margin-right: 12px;
                }
            }
        }
    }
}

@media screen  and (min-width : 768px) and (max-width : 1024px){
    .container{
        .container__map{
            padding-left: 80px;
            justify-content: center;
            .map__location--setting{
                width: 25%;
            }
        }
        .container__info{
            background-color: $box-color;
            padding-top: 40px;
            padding-bottom: 40px;
            align-items: center;
            height: auto;
           
            .info__description{
                flex-direction: row;
                .info--setting{
                    margin-right: 4px;
                    width: auto;
                }    
            }  
        }
        .container__operations{
            height: auto;
            .operation__stages{
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
              
                .operation__stage{
                    width: 330px;
                    margin-left: 15px;
                    margin-right: 30px;
                }
            }
        }
        .container__catalog{
            margin-bottom: 30px;;
            .card__container{
                justify-content: space-around;
                .card{
                    margin-right: 20px;
                    width: 350px;
                   
                }
            }
        }
    }
    footer{
        .footer__container{
            .footer__items{
                flex-direction: row;
                .footer__item{
                    margin-right: 50px;
                }
            }
        }
    }
}

@media screen and (min-width : 1024px){
   
    header{
        justify-content: flex-end;
        margin-right: 100px;
        .header__box{
            width: 100%;
            max-width: 1440px;
        }
    }

    .container{
        .map--box{
            display: flex;
            flex-direction: row;
            justify-content: left;
            width: 350px;
            margin-left: 15px;
            margin-top: 20px;
            box-shadow: 0px 2px  5px 0px #d1d1d1;;
            .map--setting{
                padding-left: 30px;
            }
            .map__location--setting{
                width: 250px;
            }
        }
        .container__info{
            background-color: $wight;
            padding: 0px;
            margin-top: 40px;
            align-items: flex-start;
            height: auto;
            margin-left: 15px;

            .info__description{
                .description--setting{
                    margin-top: 15px;
                }
                .info--setting{
                    margin-right: 4px;
                    width: auto;
                }
            }  
        }
        .container__operations{
            height: auto;
            margin-left: 15px;
            
            .info--setting{
                margin-left: 0px;
            }
            .operation__stages{
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
              
                .operation__stage{
                    width: 330px;
                    margin-left: 15px;
                    margin-right: 30px;
                }
            }
        }
        .container__catalog{
            margin-bottom: 30px;
            border-radius: 25px;
            .card__container{
                justify-content: space-around;
                .card{
                    margin-right: 5px;
                    margin-left: 5px;
                    width: 334px;
                }
            }
        }   
    }
    footer{
        width: 100%;
        .footer__container{
            width: 100%;
            max-width: 1440px;
            .footer__items{
                flex-direction: row;
                .footer__item{
                    margin-right: 150px;
                }
            }
        }
    }

}